snippet env "New LaTeX environment" b
\begin{$1}
    $2
\end{$1}
$0
endsnippet

snippet !!! "Full template" b
\documentclass[a4j]{jsarticle}

\title{$1}
\author{$2}
\date{$3}

\begin{document}
\maketitle
$0
\end{document}
endsnippet
